/* PAGE */

.camera-page{
  width:100%;
  min-height:100vh;
  background:#000;
  color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
  font-family:Arial, Helvetica, sans-serif;
}


/* HEADER */

.camera-header{
  width:100%;
  max-width:500px;
  display:flex;
  justify-content:flex-end;
  padding:10px;
}

.close-btn{
  font-size:22px;
  cursor:pointer;
}


/* CAMERA VIEW */

.camera-view{
  width:100%;
  max-width:500px;
  height:500px;        /* IMPORTANT CAMERA SIZE */
  background:black;
  position:relative;
  overflow:hidden;
  border-radius:10px;
}

.camera-video{
  width:100%;
  height:100%;
  object-fit:cover;   /* prevent zoom stretch */
}


/* CONTROLS */

.camera-controls{
  width:100%;
  max-width:500px;
  padding:15px;
  text-align:center;
}


/* MODE SELECTOR */

.mode-selector{
  display:flex;
  justify-content:space-around;
  margin-bottom:15px;
  font-size:14px;
  color:#aaa;
}

.mode-selector span{
  cursor:pointer;
}

.mode-selector .active{
  color:white;
  font-weight:bold;
}


/* CAPTURE ROW */

.capture-row{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:20px 0;
}


/* GALLERY BUTTON */

.gallery-btn{
  width:45px;
  height:45px;
  background:#222;
  border-radius:8px;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
}

.gallery-btn img{
  width:100%;
  height:100%;
  object-fit:cover;
}


/* CAPTURE BUTTON */

.capture-btn{
  width:70px;
  height:70px;
  border-radius:50%;
  border:6px solid white;
  background:transparent;
  cursor:pointer;
  transition:0.2s;
}

.capture-btn:hover{
  transform:scale(1.1);
}


/* FLIP BUTTON */

.flip-btn{
  font-size:28px;
  cursor:pointer;
}


/* ZOOM ROW */

.zoom-row{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:10px;
}

.zoom-row span{
  background:#222;
  padding:6px 12px;
  border-radius:20px;
  font-size:14px;
  cursor:pointer;
}

.zoom-row .active{
  background:white;
  color:black;
  font-weight:bold;
}


/* RECENT */

.recent{
  width:100%;
  max-width:500px;
  padding:15px;
}

.recent p{
  font-size:12px;
  color:#aaa;
  margin-bottom:10px;
}

.recent-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
}

.recent-img{
  width:100%;
  height:70px;
  background:#222;
  border-radius:6px;
  overflow:hidden;
}

.recent-img img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.recent-img.empty{
  opacity:0.3;
}
.recent-img{
position:relative;
}

.remove-btn{
position:absolute;
top:4px;
right:4px;
background:red;
color:white;
border:none;
border-radius:50%;
width:20px;
height:20px;
cursor:pointer;
}

/* MOBILE */

@media(max-width:600px){

  .camera-view{
    height:420px;
  }

  .capture-btn{
    width:65px;
    height:65px;
  }

}