/* Navbar Container */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:14px 6%;
  background:#0b0b0b;
  position:fixed;
  top:0;
  width: 100%;
  z-index:1000;

  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(10px);
}

/* Logo */

.logo{
  display:flex;
  align-items:center;
}

.logo-img{
  height:45px;
  width:auto;
  
}

/* Navigation Links */

.nav-links{
  display:flex;
  list-style:none;
  gap:32px;
}


.nav-links a{
  text-decoration:none;
  color:white;
  font-size:16px;
  font-weight:500;
  transition:0.3s;
}

.nav-links a:hover{
  color:#ff7a00;
}

/* Buttons */

.nav-buttons{
  display:flex;
  gap:14px;
}

.lg-btn{
  background: #ff7a00;
  padding:7px 16px;
  border-radius:8px;
  border:1px solid rgba(255,255,255,0.4);
  color:white;
  text-decoration:none;
  transition:0.3s;
}

.lg-btn:hover{
  background: rgba(255,255,255,0.1);
}

.rg-btn{
  background:#ff7a00;
  padding:8px 18px;
  border-radius:8px;
  color:white;
  text-decoration:none;
  font-weight:500;
  transition:0.3s;
}

.rg-btn:hover{
  background:#ff8f1f;
  transform: translate(-1px);
}

/* Hamburger */

.hamburger{
  display:none;
  font-size:22px;
  color:white;
  cursor:pointer;
}

/* ------------------- */
/* Tablet Responsive */
/* ------------------- */

@media (max-width:900px){

  .nav-links{
    gap:20px;
  }

  .logo-img{
    height:40px;
  }

}

/* ------------------- */
/* Mobile Responsive */
/* ------------------- */

@media (max-width:768px){

  .hamburger{
    display:block;
  }

  .nav-buttons{
    display:none;
  }

  .nav-links{
    position:absolute;
    top:70px;
    left:0;
    width:100%;
    background:rgba(0, 0, 0, 0.9);
    flex-direction:column;
    align-items:center;
    gap:20px;
    padding:25px 0;
    display:none;
  }

  .nav-links.active{
    display:flex;
  }

}

/* ------------------- */
/* Small Mobile */
/* ------------------- */

@media (max-width:480px){

  .navbar{
    padding:12px 5%;
  }

  .logo-img{
    height:80px;
  }

  .nav-links{
    gap:18px;
  }

}