.recent{
padding:80px;
color:white;
}

table{
width:100%;
margin-top:30px;
border-collapse:collapse;
background:#241305;
border-radius:10px;
}

th,td{
padding:16px;
text-align:left;
}

.progress{
color:#4da3ff;
}

.resolved{
color:#2ecc71;
}

.pending{
color:#ff8c1a;
}